@import './vars';

.buttons-categories__link {
    display: inline;
    align-items: center;
    padding: 24px 0;
    color: $text-color-1;
    background-color: $bg-color-2;
    font-size: $sm;
    font-weight: $semi-bold;
    text-transform: capitalize;

    &:hover {
        background-color:  $hover-color-1;
    }

    &:first-child {
        padding: 24px 12px;
        border-radius: 8px 0 0 8px;
    }
    
    &:last-child {
        padding: 24px 12px;
        border-radius: 0px 8px 8px 0;
    }
}

.buttons-categories__anchor {
    padding: 24px;
}

