@import "./vars";

.form-buyer__input {
    width: 98%;
    height: 24px;
    padding-left: 10px;
    border:  1px solid $border-color-1;
    border-radius: 8px;
    text-align: left;
}

.form-buyer__textarea {
    width: 98%;
    height: 48px;
    padding-left: 10px;
    border:  1px solid $border-color-1;
    border-radius: 8px;
}

.form-buyer__submit {
    margin-top: 24px;
}