/* VARS */
/*Backgrounds*/
$bg-color-1: #7B0CAB;
$bg-color-2: #FFFF;
$bg-color-3: rgba(14, 14, 14, 0.4);

/*Text Colors*/
$text-color-1: #7B0CAB;
$text-color-2: #4F4C50;
$success: #5AF910;
$danger : red;
/*Hover*/
$hover-color-1: #E5E1E7;

/*Border*/
$border-color-1: #E7E1E8;

/*Fonts Size*/
$lg: 2rem;
$g: 1.5rem;
$sm: 1rem;


/*Font Weight*/
$regular : 400;
$semi-bold : 600;

